:root {
  --primary-color: #ffeecf;
  --secondary-color: #dab784;
}

body {
  margin: 0 auto;
  margin-top: 30px;
  font-family: sans-serif;
  max-width: 800px;
  background: var(--primary-color);
}

h1,
h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

.about-paragraph {
  line-height: 1.5;
  background: #fecea8;
  padding: 20px;
  border-radius: 4px;
}

.wikipedia-link {
  color: var(--secondary-color);
}

.button {
  display: block;
  margin-top: 70px;
  text-align: center;
}

.homepage-button,
.gallery-button,
.contact-button {
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 20px 15px;
  border-radius: 6px;
  margin: 0 20px;
}

.grid {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid img {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1/1.4;
  transition: all 150ms ease-in-out;
}

.grid img:hover {
  transform: scale(1.2);
}

.contact-detail {
  text-align: center;
}
